*{
    margin: auto;
    padding: 0;
    margin-top: 10px;
}
/* main div style */
.mainFrame{
    display: flex;
    width: 600px;
    background-color: #FFFDFB;
    /* border: 2px solid black; */
}
/* Styling for the left frame div */
h2{
    font-size: 20px;;
}
h5{
    font-weight: 400;
}
table{
    border: 3px solid black;
    width: 300px;
    
}
tr:nth-child(even){
    background-color: rgb(96, 138, 96);
}
th{
    text-align: start;
    height: 20px
}
button{
    background-color: #B6D8A8;
    height: 30px;
    box-shadow: 3px 3px black;
    border: 3px solid black;
    font-size: 15px;
    font-weight: 600;
    margin-left: 190px;
}
input{
    border: 2px solid black;
}
.name_input{
    margin-left: 112px;
}
.id_input{
    margin-left: 45px;
}

/* Style for the right frame div */
.rightFrame{
    border: 3px solid black;
    height: 400px;
    width: 280px;
    background-color: #B3A7D6;
}
.header_message{
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.inner_message{
    width: 240px;
    font-weight: 400;
    font-size: 15px;
}